<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

<body>
    <div style="width:100%;height:100%;margin:0 0 10px 0;text-align: center;">
        <div>
            <nav class="navbar navbar-expand-md bg-primary navbar-dark">
                <a class="navbar-brand" style="margin-left:60px" href="#">File-Stroage</a>
                <button class="btn btn-success" style="text-align:right;" onclick="toUploadFile()">上传文件
                </button>
            </nav>
        </div>
        <table
            style="height:100%;width:100%;text-align: left;border-width: 2px; margin-top: 30px; border-color: lightslategrey;">
            <tbody>
                <tr style="margin-bottom: 20px;">
                    <td style="width:20%;height: 100%;background: lightsteelblue;">
                        <div style="text-align: top;height:20%;margin: 10px 0 0 10px;">
                            <img style="width:80px;height:80px;" src="/static/img/avatar.jpeg"></img><br>
                            用户名: <p id="username" style="color: seagreen"></p>
                            注册时间: <p id="regtime" style="color: seagreen"></p>
                        </div>
                        <div style="height: 80%;"></div>
                    </td>
                    <td style="width: 3px;height:100%;">
                        <div style="width:100%;height: 100%;background:rgb(202, 157, 248);"></div>
                    </td>
                    <td style="text-align: top;">
                        <div>文件列表
                            <div style="width:100%;height: 1px;background:rgb(202, 157, 248);margin-top: 15px;"></div>
                        </div>
                        <div style="height:95%;" style="width:100%;">
                            <table id="filetbl" style="margin-left:3%;width:96%;">
                                <thead style="height:50px;border:1px;">
                                    <tr style="height:50px;border:1px;">
                                        <th>文件hash</th>
                                        <th>文件名</th>
                                        <th>文件大小</th>
                                        <th>上传时间</th>
                                        <th>最近更新</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script lang="javascript">
    window.onload = function () {
        var username = document.getElementById('username');
        $.ajax({
            url: "/user/info?" + queryParams(),
            type: "POST",
            error: function (err) {
                alert(err);
            },
            success: function (body) {
                var resp = JSON.parse(body);
                if (resp.code == 10005) {
                    window.location.href = "/static/view/signin.html";
                }
                document.getElementById("username").innerHTML = resp.data.Username;
                document.getElementById("regtime").innerHTML = resp.data.SignupAt;
                updateFileList();
            }
        });
    }

    function updateFileList() {
        $.ajax({
            url: "/file/query?" + queryParams(),
            type: "POST",
            data: {
                limit: 15
            },
            error: function (err) {
                alert(err);
            },
            success: function (body) {
                if (!body) {
                    return;
                }
                var data = JSON.parse(body);
                if (!data || data.length <= 0) {
                    return;
                }

                for (var i = 0; i < data.length; i++) {
                    var x = document.getElementById('filetbl').insertRow();
                    var cell = x.insertCell();
                    cell.innerHTML = data[i].FileHash.substr(0, 20) + "...";

                    cell = x.insertCell();
                    cell.innerHTML = data[i].FileName;

                    cell = x.insertCell();
                    cell.innerHTML = data[i].FileSize;

                    cell = x.insertCell();
                    cell.innerHTML = data[i].UploadAt;

                    cell = x.insertCell();
                    cell.innerHTML = data[i].LastUpdated;
                }
            }
        });
    }

    function toUploadFile() {
        window.location.href = '/file/upload?' + queryParams();
    }
</script>

</html>